body {
    font-family: courier;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    height: 60vh;
    padding: 10px;
    background-color: rgb(26, 24, 24);
}

.row {
    display: flex;
    width: 100%;
    height: 84px;
    background-color: lightgray;
}

.label {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 84px;
    width: 100px;
    background-color: white;
}

.header-container {
    display: flex;
}

#addCard {
    background: none;
    border: none;
    font-size: 36px;
}

#bank {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    min-height: 85px;
    padding: 5px;
    background-color: rgb(69, 67, 67);
    margin-bottom: 20px;
    border: 10px solid rgb(26, 24, 24);
}